.idea
**/ror-cluster.log
**/xpack-cluster.log
**/.DS_Store
**/elastic-cloud-ca.cer
ror-cluster-elastic-cloud-demo/certs-generator/output
ror-cluster-elastic-cloud-demo/certs-generator/input
ror-cluster-elastic-cloud-demo/certs
**/.env
**/__pycache__/**
