services:

  es-xpack:
    build:
      context: .
      dockerfile: images/es/Dockerfile
      args:
        ES_VERSION: ${ES_VERSION:-ES_VERSION_NOT_CONFIGURED}
    ports:
      - "29200:9200"
      - "29300:9300"
      - "5005:5005"
    environment:
      - cluster.name=xpack-es-cluster
      - node.name=es-xpack-single
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      - ES_VERSION=${ES_VERSION:-ES_VERSION_NOT_CONFIGURED}
    healthcheck:
      test: ["CMD-SHELL", "curl -fksS --connect-timeout 3 --max-time 5 --retry 2 --retry-connrefused -u elastic:elastic https://127.0.0.1:9200/_security/user/kibana_system/_password -XPOST -H \"Content-Type: application/json\" -d '{\"password\": \"elastic\"}' >/dev/null || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 60s
    networks:
      - es-xpack-network
    ulimits:
      memlock:
        soft: -1
        hard: -1

  kbn-xpack:
    build:
      context: .
      dockerfile: images/kbn/Dockerfile
      args:
        KBN_VERSION: ${KBN_VERSION:-KBN_VERSION_NOT_CONFIGURED}
    depends_on:
      es-xpack:
        condition: service_healthy
    ports:
      - "25601:5601"
    environment:
      ES_API_URL: https://es-xpack:9200
    networks:
      - es-xpack-network
    ulimits:
      memlock:
        soft: -1
        hard: -1

networks:
  es-xpack-network:
    driver: bridge
